body{
    background-color: black;
    align-content: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

h1, p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

hr{
    width: 50%;
}

.Name{
    font-size: 40px;
    font-weight: bolder;
}

.Course{
    font-size: 20px;
}

.Languages{
    color: white;
    text-align:justify;
    width: 80%;
    margin-left: 10%;
    font-size: 30px;
}

.Info{
    color: white;
    text-align:justify;
    width: 50%;
    margin-left: 25%;
    font-size: 30px;
}

.Experience{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
  
span{
    color:white;
    width:100%;
    display:inline-block;
}

.Intro{
    width: 70%;
    font-size: 20px;
    margin: 0 auto; /* center div*/
}

.inner-exp{
    text-align: justify;
}

table{
    border-collapse: collapse;
    color: white;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-color: white;
    width: 60%;
}

th, td {
    text-align: left;
    font-size: 15x;
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

th{
    font-weight: 900;
}


tr:first-child{
    color: white;
    border-bottom: 1px solid white;
}

ul, li{
    color: white;
    font-size: 30px;
}

ul{
    display: table;
    margin: 0 auto;
}

